<<<<<<< HEAD
.menuInputMayor{
    background-color: greenyellow;
}

.menuInputMenor{
    background-color: lightsalmon;
=======
.menuInputMayor{
    background-color: greenyellow;
}

.menuInputMenor{
    background-color: lightsalmon;
>>>>>>> 2deb5bfda9429f8209f9e2d0304100fadc140662
}