body{
    background-color: black;
    color: rgb(0,75,150);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button{
    margin-top: 20px;
    display: block;
    height: 80px;
    font-weight: bolder;
    background-color: rgb(0,75,150);
    font-size: 18px;
    color: #fff;
    border: hidden;
    cursor: pointer;
}

input{
    height: 35px;
    color: rgb(0,75,150);
    background-color: black;
    border-color: #fff;
    border-radius: 15px;
}

select{
    height: 40px;
    background-color: black;
    color: rgb(0,75,150);
    border-radius: 15px;
}

ul>li{
    color: rgb(0,150,150);
}